* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --pink: hsl(275, 100%, 97%);
  --purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--pink);
}

img {
  width: 100%;
}

.conatiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* height: 500px; */
  padding: 20px;
  border-radius: 1rem;
  background: var(--white);
  /* border: 2px solid; */
}

h1 {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

h1 img {
  width: 30px;
}

.fac-item {
  padding: 12px;
  border-radius: 0.7rem;
  margin-bottom: 5px;
}

.fac-item h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fac-item h3 img {
  width: 20px;
}

.hide{
    display: none;
}